<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedeployTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RedeployTester.Redeploy" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RedeployTester.Properties.Settings>
            <setting name="delay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="objects" serializeAs="String">
                <value>object1;object2</value>
            </setting>
        </RedeployTester.Properties.Settings>
        <RedeployTester.Redeploy>
            <setting name="delay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="objects" serializeAs="String">
                <value>object1;object2</value>
            </setting>
        </RedeployTester.Redeploy>
    </userSettings>
</configuration>